
body {
    background-color: #eee;
}

h1 {
    padding: 30px 0;
    margin: 30px;
    margin-bottom: 30px;
    color: #16A085 ;
    font-family: Georgia, serif;
    font-size: 35px;
    border-bottom: 1px solid #ABB2B9;
  }
  

  h2 {
    padding: 30px 0;
    margin: 30px;
    margin-bottom: 20px;
    color: #16A085 ;
    font-family: Georgia, serif;
    font-size: 25px;
    border-bottom: 1px solid #ABB2B9;
  }

  h3 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 70px;
    color: #16A085 ;
    font-family: Georgia, serif;
    font-size: 25px;
  }

  .nav {
    background-color: white;
    margin-left: auto;
  }

  .nav li a {
    color: black;
    font-size: 13px;
    font-family: Arial, sans-serif;
  }

  #Summary {
      background-color: #FFFFFF;
      font-family: Arial, sans-serif;
      font-size: 20px;
      margin: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
 }
  #lat-graph {
    width: 250px;
    height: 250px;
    margin-right: 20px;
    float: left;
  }

  #vis-lat {
    background-color: #FFFFFF;
    margin: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  #temp-graph {
      width: 150px;
      height: 150px; 
  }

  #hum-graph {
      width: 150px;
      height: 150px;      
  }

  #cloud-graph {
      width: 150px;
      height: 150px;
  }

  #wind-graph {
      width: 150px;
      height: 150px;
  }

/* Temp format */

  #Vis {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 17px;
    margin: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}


  #vis_graph {
    width: 600px;
    height: 400px;
    margin-right: 20px;
  }

/* Comparisons format */

#comp {
  background-color: #FFFFFF;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 230px;
}


#comp_temp_graph{
    width: 500px;
    height: 300px;

}

#comp_hum_graph{
    width: 500px;
    height: 300px;

}

#comp_cloud_graph{
    width: 500px;
    height: 300px;

}

#comp_wind_graph{
    width: 500px;
    height: 300px;

}

#data {
  background-color: #FFFFFF;
  margin-left: 130px;
  margin-right: 130px;
}

table {
  background-color: #FFFFFF;
  font-family: arial, sans-serif;
  font-size: 15px;
  margin-left: 20px;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media (max-width: 800px) {

  .container-fluid{
    background: #16A085;
  }

 .nav li {
   visibility: hidden;
 }

 #comp {
   width: 100%;
 }

}
